.list-products {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    
    
    
    h2{
        color: whitesmoke;
    }

    .products-container{
        background-color: white;
        display: flex;
        


    }
}