@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&family=Poppins:wght@300&family=Quicksand&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Quicksand', sans-serif;;

}


